<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhuma linguagem cadastrada
	</div>
	<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>
	<div th:if="${not #lists.isEmpty(lista)}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Linguagem</th>
					<th>IDE</th>
					<th>Versão</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="linguagem: ${lista}">
					<td th:text="${linguagem.id}"></td>
					<td th:text="${linguagem.nome}" ></td>
					<td th:text="${linguagem.ide}" ></td>
					<td th:text="${linguagem.versao}" width="30%"></td>
					<td><a class="btn-primary btn-sm" th:href="@{/linguagem/editar(id=${linguagem.id})}">Editar</a>
					<a class="btn-primary btn-sm" th:href="@{/linguagem/excluir(id=${linguagem.id})}" onclick="return confirm('Você realmente deseja excluir essa linguagem?')">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>

</html>